/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*    transition: all .5s linear;*/
/*}*/

/*.center {*/
/*    max-width: 1146px;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/

/*ul {*/
/*    list-style: none;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

/*body {*/
/*    !*font-family: "Roboto", sans-serif;*!*/
/*    !*font-family: 'Nunito', sans-serif;*!*/
/*    font-family: Montserrat;*/
/*    color: #082838;*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*}*/
/*!* start header *!*/
/*header {*/
/*    margin-bottom: 50px;*/
/*}*/

/*.header {*/
/*    padding: 39px 0;*/
/*}*/

/*.header-section {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.menu-list {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 32px;*/
/*}*/

/*.menu-link {*/
/*    color: #536872;*/
/*}*/

/*.menu-link:hover {*/
/*    color: #8DA399;*/
/*}*/

/*.menu-link:active {*/
/*    color: #20B2AA;*/
/*}*/



/*.header-right {*/
/*    display: flex;*/
/*    align-items: center; !*производит выравнивание всех элементов внутри флекс контейнера вдоль поперечной оси*!*/
/*    gap: 15px;*/

/*}*/

/*.left_header_search_form {*/
/*    width: 26px;*/
/*    min-height: 27px;*/
/*    !*width: 18px;*/
/*    min-height: 19px;*!*/
/*    position: relative;*/
/*}*/

/*.left_header_search_form:hover svg {*/
/*    fill: orange;*/
/*    !*width: 18px;*/
/*    height: 19px;*!*/
/*    !*margin-top: 5px;*!*/
/*}*/

/*.left_header_search_btn {*/
/*    width: 20px;*/
/*    min-height: 20px;*/
/*    background-color: transparent;  !*прозрачный фон (по умолчанию)*!*/
/*    padding: 5px;*/
/*    box-sizing: border-box;*/
/*    border: none;*/
/*    position: absolute;*/
/*    top: -1px;*/
/*    left: 30px;*/
/*    color: #000;*/
/*    font-size: 16px;*/
/*    !*font-family: Arial;*!*/
/*    text-transform: capitalize;  !*text-transform изменяет регистр текста, capitalize: делает первую букву слова заглавной*!*/
/*}*/

/*.left_header_search_btn:focus {*/
/*    width: 180px;*/
/*    min-height: 20px;*/
/*    transition: width 1s ease;*/
/*    border: 2px solid #fff;*/
/*}*/
/*.left_header_search_btn:focus ~ label > svg {*/
/*    fill: green;*/
/*}*/
/*.left_header_search_btn:active ~ label > svg {*/
/*    fill: red;*/
/*}*/

/*!* stop header *!*/

/*!* ====== top-info ====== *!*/
/*.top-info {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    gap: 20px;*/
/*    margin: 0 auto;*/
/*}*/
/*.top-content {*/
/*    !*max-width: 554px;*!*/
/*    max-width: 40%;*/
/*}*/
/*.top-content-uptitle {*/
/*    margin: 0 0 10px 0;*/
/*    color: #3A68B8;*/
/*    font-size: 18px;*/
/*    line-height: 160%;*/
/*    text-transform: uppercase;*/
/*}*/
/*.top-content-title {*/
/*    margin: 0 0 40px 0;*/
/*    font-weight: 800;*/
/*    font-size: 40px;*/
/*    line-height: 130%;*/

/*}*/
/*.top-content-title-category {*/
/*    margin: 0 0 30px 0;*/
/*    font-weight: 800;*/
/*    font-size: 32px;*/
/*    line-height: 130%;*/
/*}*/
/*.top-content-txt {*/
/*    !*margin: 0 0 50px 0;*!*/
/*    font-size: 18px;*/
/*    line-height: 160%;*/
/*    opacity: 0.7;*/
/*    max-width: 96%;*/
/*}*/


/*!* ====== Start Slider ====== *!*/
/*!*.top-info-img {*/
/*    max-width: 60%;*/
/*}*!*/

/*!*html {*!*/
/*!*    font-size: 62.5%;*!*/
/*!*    overflow-x: hidden;*!*/
/*!*}*!*/

/*.container {*/
/*    position: relative;*/
/*    !*max-height: 409px;*!*/
/*}*/

/*.container .slide-container .slide {*/
/*    position: relative;*/
/*    !*min-height: 100vh;*!*/
/*    !*overflow: hidden;*!*/
/*    overflow: visible;*/
/*    z-index: -1;*/
/*}*/
/*.container .slide-container .slide img {*/
/*    position: absolute;*/
/*    !*background: rgba(0, 0, 0, .5);*!*/
/*    top: 0; left: 0;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*    !*max-height: 409px;*!*/
/*    !*height: auto;*!*/
/*    object-fit: cover;*/
/*    z-index: -1;*/
/*}*/

/*.container .slide-container .slide .content {*/
/*    !*min-height: 100vh;*!*/
/*    !*height: auto;*!*/
/*    max-height: 350px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    !*background: rgba(0, 0, 0, .5);*!*/
/*    !*color: #87A2D1;*!*/
/*    color: #99A9B8;*/

/*}*/

/*.container .slide-container .slide .content h3 {*/
/*    !*font-size: calc(16px + (26 - 16) * ((100vw - 688px) / (1146 - 688)));*!*/
/*    font-size: 30px;*/
/*    animation: animate .4s linear .4s backwards;*/
/*    padding-top: 2rem;*/
/*}*/

/*.container .slide-container .slide .content p {*/
/*    !*font-size: calc(11px + (16 - 11) * ((100vw - 688px) / (1146 - 688)));*!*/
/*    font-size: 18px;*/
/*    !*max-width: 60rem;*!*/
/*    max-width: 63rem;*/
/*    padding: 1rem 11rem 2rem;*/
/*    animation: animate .4s linear .6s backwards;*/
/*}*/

/*@keyframes animate {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: scale(.5) translateY(-5rem);*/
/*    }*/
/*}*/

/*.container .slide-container .btn {*/
/*    !*display: inline-block;*!*/
/*    !*padding: 1.5rem 3rem;*!*/
/*    padding: 10px;*/
/*    !*background: #fff;*!*/
/*    background: #90ABD4;*/
/*    color: #fff;*/
/*    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);*/
/*    !*font-size: 1.6em;8*!*/
/*    font-weight: 800;*/
/*    animation: animate-rotate .4s linear .9s backwards;*/
/*    border-radius: 3px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*width: 35%;*!*/
/*    !*max-width: 205px;*!*/
/*    max-width: 150px;*/
/*    margin: 0 auto;*/
/*}*/

/*@keyframes animate-rotate {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: rotate(360deg)*/
/*    }*/
/*}*/

/*.container .slide-container {*/
/*    display: none;*/
/*}*/

/*.container .slide-container.active {*/
/*    display: block;*/
/*}*/

/*.container #next,*/
/*.container #prev {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    z-index: 1000;*/
/*    background: #fff;*/
/*    color: #90ABD4;*/
/*    width: 2rem;*/
/*    height: 2rem;*/
/*    line-height: 2rem;*/
/*    text-align: center;*/
/*    font-weight: 800;*/
/*    font-size: 2rem;*/
/*    cursor: pointer;*/
/*}*/

/*.container #next {*/
/*    right: 1rem;*/
/*}*/

/*.container #prev {*/
/*    left: 1rem;*/
/*}*/
/*!* start conteiner category *!*/

/*.container .slide-container-category .slide {*/
/*    position: relative;*/
/*    overflow: visible;*/
/*    z-index: -1;*/
/*}*/
/*.container .slide-container-category .slide img {*/
/*    position: absolute;*/
/*    !*background: rgba(0, 0, 0, .5);*!*/
/*    top: 0; left: 0;*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*    z-index: -1;*/
/*}*/

/*.container .slide-container-category .slide .content {*/
/*    max-height: 350px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    !*background: rgba(0, 0, 0, .5);*/
/*    color: #fff;*!*/
/*    color: #99A9B8;*/
/*}*/

/*.container .slide-container-category .slide .content h3 {*/
/*    font-size: 30px;*/
/*    animation: animate .4s linear .4s backwards;*/
/*    padding-top: 2rem;*/
/*}*/

/*.container .slide-container-category .slide .content p {*/
/*    !*font-size: 24px;*!*/
/*    max-width: 63rem;*/
/*    padding: 1rem 11rem 2rem;*/
/*    animation: animate .4s linear .6s backwards;*/
/*}*/

/*@keyframes animate {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: scale(.5) translateY(-5rem);*/
/*    }*/
/*}*/

/*!* end conteiner category *!*/

/*@media (max-width: 1066px) {*/
/*    .top-content-uptitle {*/
/*        font-size: calc(12px + (18 - 12) * ((100vw - 426px) / (1146 - 426)));*/
/*    }*/
/*    .top-content-title {*/
/*        font-size: calc(30px + (40 - 30) * ((100vw - 426px) / (1146 - 426)));*/
/*    }*/
/*    .top-content-txt {*/
/*        font-size: calc(12px + (18 - 12) * ((100vw - 426px) / (1146 - 426)));*/
/*    }*/
/*    .container .slide-container .slide .content h3 {*/
/*        font-size: calc(16px + (30 - 16) * ((100vw - 688px) / (1146 - 688)));*/
/*    }*/
/*    .container .slide-container .slide .content p {*/
/*        font-size: calc(14px + (24 - 14) * ((100vw - 688px) / (1146 - 688)));*/
/*    }*/
/*}*/
/*@media (max-width: 900px) {*/

/*    .top-content-uptitle {*/
/*        margin: 0;*/
/*    }*/
/*    .top-content-title {*/
/*        margin: 0 0 15px 0;*/
/*        font-size: calc(24px + (40 - 24) * ((100vw - 426px) / (1146 - 426)));*/
/*    }*/
/*    .container .slide-container .slide .content p {*/
/*        padding: 0.5rem 4rem 2rem;*/
/*    }*/
/*    .container .slide-container .slide .content h3 {*/
/*        padding-top: 1rem;*/
/*    }*/
/*    .container .slide-container .btn {*/
/*        padding: 7px;*/
/*    }*/
/*}*/
/*@media (max-width: 822px) {*/
/*    .container .slide-container .slide .content p {*/
/*        padding: 0.3rem 4rem 1.5rem;*/
/*    }*/
/*    .container .slide-container .slide .content h3 {*/
/*        padding-top: 0.7rem;*/
/*    }*/
/*    .container .slide-container .btn {*/
/*        padding: 5px;*/
/*    }*/
/*}*/
/*@media (max-width: 768px) {*/
/*    .top-info {*/
/*        flex-direction: column;*/
/*    }*/
/*    .top-content {*/
/*        max-width: 100%;*/
/*        text-align: center;*/
/*    }*/
/*    .top-content-uptitle {*/
/*        font-size: 18px;*/
/*    }*/
/*    .top-content-title {*/
/*        font-size: 40px;*/
/*    }*/
/*    .top-content-txt {*/
/*        font-size: 18px;*/
/*    }*/
/*    .container .slide-container .slide .content h3 {*/
/*        !*font-size: calc(16px + (30 - 16) * ((100vw - 688px) / (1146 - 688)));*!*/
/*        font-size: 30px;*/
/*        padding-top: 2rem;*/
/*    }*/
/*    .container .slide-container .slide .content p {*/
/*        !*font-size: calc(14px + (24 - 14) * ((100vw - 688px) / (1146 - 688)));*!*/
/*        font-size: 24px;*/
/*        max-width: 63rem;*/
/*        padding: 1rem 4rem 2rem;*/
/*    }*/
/*    .container .slide-container .btn {*/
/*        padding: 10px;*/
/*        max-width: 205px;*/
/*    }*/
/*}*/
/*!* ====== END Slider ====== *!*/
/*!* ====== END top-info ====== *!*/

/*!* === start search === *!*/

/*.search_block {*/
/*    margin: 30px auto;*/
/*}*/
/*.search_link {*/
/*    display: inline-block;*/
/*    margin: 5px auto;*/
/*}*/

/*!* === end search === *!*/

/*!* === start login === *!*/

/*.title_login, .title_courses, .title_search {*/
/*    text-align: center;*/
/*    font-size: 26px;*/
/*    margin-bottom: 25px;*/
/*}*/

/*.auth_block {*/
/*    width: 40%;*/
/*    margin: 30px auto;*/
/*}*/

/*.alert_message {*/
/*    border-radius: 5px;*/
/*    padding: 10px 20px;*/
/*    font-size: 18px;*/
/*    width: 40%;*/
/*    margin: 20px auto 0;*/
/*}*/

/*.alert_error {*/
/*    background: #FFC2D2;*/
/*}*/

/*.alert_info {*/
/*    background: #CDEEA6;*/
/*}*/

/*.form_login label {*/
/*    display: block;*/
/*    font-size: 18px;*/
/*    line-height: 20px;*/
/*    margin: 10px 0;*/
/*    width: 100%;*/
/*}*/

/*.form_login .form-control {*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #E3DFDD;*/
/*    font-size: 16px;*/
/*    line-height: 18px;*/
/*    padding-left: 10px;*/
/*    height: 45px;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

/*.links_box {*/
/*    margin: 10px 0;*/
/*}*/

/*.form_login .btn {*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    margin-top: 15px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #E5E5E5;*/
/*    background: #F0F0F0;*/
/*}*/

/*.account {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/
/*!* start login_checkbox *!*/
/*.auth_block .form_login .login_checkbox {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin-top: 20px;*/
/*}*/

/*.auth_block .form_login .login_checkbox [type="checkbox"] {*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    !*background: #ddd;*!*/
/*}*/

/*.auth_block .form_login .login_checkbox_remember {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 15px;*/
/*}*/
/*!* end login_checkbox *!*/

/*!* === end login === *!*/

/*html,*/
/*body {*/
/*    height: 100%;*/
/*}*/
/*.wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100%;*/
/*}*/
/*.content {*/
/*    flex: 1 0 auto;*/
/*}*/
/*.footer {*/
/*    flex: 0 0 auto;*/
/*}*/

/*!* === Start page home === *!*/
/*.main_title {*/
/*    font-family: Montserrat;*/
/*    color: #082838;*/
/*    font-size: 32px;*/
/*    text-align:center;*/
/*    margin: 15px auto;*/
/*}*/

/*.bredcrumb {*/
/*    margin-top: 10px;*/
/*}*/

/*.category-course-content-title {*/
/*    font-size: 28px;*/
/*    margin: 0 auto;*/
/*}*/

/*.post-course {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*    margin-top: 20px;*/
/*}*/

/*.post-course-item {*/
/*    margin-bottom: 40px;*/
/*    flex: 0 1 calc(25% - 1.5%);*/
/*    !*background: #000099;*!*/
/*    !*color: #9c9c9c;*/
/*    padding: 15px;*!*/
/*}*/
/*.post-course-img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*    margin-bottom: 14px;*/
/*}*/

/*.title-course {*/
/*    font-size: 20px;*/
/*    margin-top: 25px;*/
/*}*/
/*.course-list {*/
/*    display: flex;*/
/*    padding: 1rem 0;*/
/*    margin: 0 auto;*/
/*    overflow-x: auto;*/
/*    !*outline: solid 1px;*!*/
/*}*/
/*.course-item {*/
/*    flex: 0 0 200px;*/
/*    !*height: 100px;*!*/
/*    background: #7bb269;*/
/*    color: #222;*/
/*    border-radius: 5px;*/
/*    padding: 1rem;*/
/*    margin-right: 1rem;*/
/*}*/
/*.practice {*/
/*    background: #7bb269;*/
/*    color: #222;*/
/*    border-radius: 5px;*/
/*    padding: 1rem;*/
/*    margin-right: 1rem;*/
/*}*/
/*!* === End page home === *!*/
/*!* === Start page footer === *!*/
/*.footer {*/
/*    max-width: 100%;*/
/*    background: #dddddd;*/

/*}*/
/*.footer-information {*/
/*    display: flex;*/
/*    justify-content: space-between; !* выравнивание элементов вдоль главной оси*!*/
/*    box-sizing: border-box;*/
/*    align-items: flex-start; !*производит выравнивание всех элементов внутри флекс контейнера вдоль поперечной оси*!*/
/*    background: #dddddd;*/
/*}*/
/*.footer_item {*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*    list-style-type: disc; !*Для тех броузеров, которые не поддерживают вывод графики*!*/
/*    list-style-image: url(../images/pointer.png);*/
/*    list-style-position: inside; !*маркеры располагаются внутри элемента*!*/
/*}*/
/*.footer_block {*/
/*    max-width: 100%;*/
/*    background: #515151;*/
/*}*/
/*.copyright {*/
/*    padding: 20px;*/
/*    !*margin: 20px auto;*!*/

/*}*/
/*.copyright p {*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*}*/
/*.footer li a {*/
/*    color: #6E7F80;*/
/*}*/

/*.line {*/
/*    display: inline-block;*/
/*    margin: 0 auto 10px;*/
/*    color: #000;*/
/*}*/
/*!* === End page footer === *!*/

/*!* Start category-course *!*/


/*.lesson_course {*/
/*    margin-top: 80px;*/
/*    margin-bottom: 80px;*/
/*}*/
/*.category-course {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    gap: 30px;*/
/*    width: 100%;*/
/*}*/
/*.category-course-content {*/
/*    width: 75%*/
/*}*/
/*.category-course-list {*/
/*    width: 25%;*/
/*}*/
/*.lesson_course hr {*/
/*    margin-bottom: 20px;*/
/*}*/
/*.category-course-item {*/
/*    margin-top: 10px;*/
/*}*/
/*.title-sidebar-right {*/
/*    font-size: 20px;*/
/*    font-family: Montserrat;*/
/*    color: #082838;*/
/*}*/
/*.category-nav-link {*/
/*    font-family: Montserrat;*/
/*    color: #828383;*/
/*}*/
/*!* End category-course *!*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s linear;
}

.center {
    max-width: 1146px;

    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    /*font-family: "Roboto", sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
    font-family: Montserrat;
    color: #082838;
    font-weight: 500;
    font-size: 18px;
}

header {
    margin-bottom: 50px;
}

.header {
    padding: 39px 0;
}

/* ====== START top ====== */
/* === Start header === */

.header-section {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header-section-left {
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu-link {
    color: #536872;
}

.menu-link:hover {
    /* color: #dde2e0; */
    color: #6FDAE3;
}

.menu-link:active {
    color: #20B2AA;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;

}

.left_header_search_form {
    width: 26px;
    min-height: 27px;
    /*width: 18px;
    min-height: 19px;*/
    position: relative;
}

.left_header_search_form:hover svg {
    fill: orange;
    /*width: 18px;
    height: 19px;*/
    /*margin-top: 5px;*/
}

.left_header_search_btn {
    width: 20px;
    min-height: 20px;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #000;
    font-size: 16px;
    /*font-family: Arial;*/
    text-transform: capitalize;
}

.left_header_search_btn:focus {
    width: 180px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}
.left_header_search_btn:focus ~ label > svg {
    fill: green;
}
.left_header_search_btn:active ~ label > svg {
    fill: red;
}
/* Start mobile */
.drop_down_menu {
    display: none;
}
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after{
    /* background-color: orange; */
    background-color: #20B2AA;
}
.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after{
    background-color: red;
}
.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #9F99A0;
    position: relative;
}
.menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #9F99A0;
    position: absolute;
    top: -10px;
    left: 0;
}
.menu-btn span::after {
    top: 10px;
}
#menu-switch {
    display: none;
}
#menu-switch:checked ~ .menu-list-portable {
    display: block;
}
#menu-switch:checked ~ .page-header-banner {
    border: 8px solid red;
}
.menu-list-portable {
    display: none;
    width: 100%;
    max-width: 232px;
    min-height: 764px;
    padding: 0 33px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 20;
}
.menu-list-title {
    display: block;
    margin: 9px 0 15px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.menu-title > a,
.menu-list-item > a,
.menu-sublist-item > a {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}
.menu-list-item {
    list-style-type: none;
}
.menu-list-item > a {
    display: block;
    margin: 0 0 11px 0;
    /* color: #F16D7F; */
    color: #082838;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-list-item:hover > a {
    color: #9889D7;
}
.menu-list-item:active > a {
    color: #9D2334;
}
@media (max-width: 950px) {
    .menu-list {
        display: none;
    }
    .drop_down_menu {
        display: block;
    }
}
@media (max-width: 500px) {
    .header-section {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    /* .header-section-left {
        flex-direction: column;
        align-items: center
    } */
}
/* End mobile */
/* === Stop header === */
/* ====== STOP top ====== */

/* ====== START top-info ====== */
.top-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}
.top-content {
    width: 40%;
    /*max-width: 40%;*/
}
.top-content-uptitle {
    margin: 0 0 10px 0;
    color: #3A68B8;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
}
.top-content-title {
    margin: 0 0 40px 0;
    /*font-weight: 800;*/
    font-size: 40px;
    line-height: 130%;

}
.top-content-title-category {
    margin: 0 0 30px 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
}
.top-content-txt {
    /*margin: 0 0 50px 0;*/
    font-size: 18px;
    line-height: 160%;
    opacity: 0.7;
    max-width: 96%;
}


/* === Start Slider === */

.container {
    position: relative;
    /*max-height: 409px;*/
}

.container .slide-container .slide, .container .slide {
    position: relative;
    /*min-height: 100vh;*/
    /*overflow: hidden;*/
    overflow: visible;
    z-index: -1;
}
.container .slide-container .slide img, .container .slide img {
    /*position: absolute;*/
    /*background: rgba(0, 0, 0, .5);*/
    /*top: 0; left: 0;*/
    width: 100%;
    /*height: 100%;*/
    /*max-height: 409px;*/
    /*height: auto;*/
    object-fit: cover;
    /*z-index: -1;*/
}

.container .slide-container .slide .content, .container .slide .content {
    position: absolute;
    top: 20px; left: 160px;
    /*height: 50%;*/
    /*overflow: auto;*/
    margin: auto;
    width: 50%;
    /*top: 0; left: 0; bottom: 0; right: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /*background: rgba(0, 0, 0, .5);*/
    /*color: #87A2D1;*/
    color: #99A9B8;

}

.container .slide-container .slide .content h3, .container .slide .content h3 {
    /*font-size: calc(16px + (26 - 16) * ((100vw - 688px) / (1146 - 688)));*/
    font-size: 30px;
    animation: animate .4s linear .4s backwards;
    /*padding-top: 3rem;*/
}

.container .slide-container .slide .content p, .container .slide .content p {
    /*font-size: calc(11px + (16 - 11) * ((100vw - 688px) / (1146 - 688)));*/
    font-size: 20px;
    /*max-width: 60rem;*/
    /*max-width: 63rem;*/
    /*padding: 2rem 11rem 2rem;*/
    animation: animate .4s linear .6s backwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(.5) translateY(-5rem);
    }
}

.container .slide-container .btn {
    /*display: inline-block;*/
    /*padding: 1.5rem 3rem;*/
    padding: 10px;
    /*background: #fff;*/
    background: #90ABD4;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);
    /*font-size: 1.6em;8*/
    font-weight: 800;
    animation: animate-rotate .4s linear .9s backwards;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 35%;*/
    /*max-width: 205px;*/
    max-width: 150px;
    margin: 0 auto;
    position: absolute;
    left: 44%;
    bottom: 70px;
}

@keyframes animate-rotate {
    0% {
        opacity: 0;
        transform: rotate(360deg)
    }
}

.container .slide-container {
    display: none;
}

.container .slide-container.active {
    display: block;
}

.container #next,
.container #prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background: #fff;
    color: #90ABD4;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
}

.container #next {
    right: 1rem;
}

.container #prev {
    left: 1rem;
}
/* start conteiner category */

@media (max-width: 587px) {
    .container .slide .content {
        display: none;
    }
}

/* end conteiner category */


/* === end Slider === */
/* ====== END top-info ====== */

/* === start search === */

.search_block {
    margin: 30px auto;
}
.search_link {
    display: inline-block;
    margin: 5px auto;
}

/* === end search === */

/* === start login === */

.title_login, .title_courses, .title_search {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

.auth_block {
    width: 40%;
    margin: 30px auto;
}

.alert_message {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    width: 40%;
    margin: 20px auto 0;
}

.alert_error {
    background: #FFC2D2;
}

.alert_info {
    background: #CDEEA6;
}

.form_login label {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    width: 100%;
}

.form_login .form-control {
    outline: none;
    border-radius: 5px;
    border: 1px solid #E3DFDD;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
}

.links_box {
    margin: 10px 0;
}

.form_login .btn {
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    background: #F0F0F0;
}

.account {
    text-align: center;
    margin-top: 20px;
}
/* start login_checkbox */
.auth_block .form_login .login_checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.auth_block .form_login .login_checkbox [type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    /*background: #ddd;*/
}

.auth_block .form_login .login_checkbox_remember {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* end login_checkbox */

/* === end login === */

html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

/* === Start page home === */
.main_title {
    font-family: Montserrat;
    color: #082838;
    font-size: 32px;
    text-align:center;
    margin: 15px auto;
}

.bredcrumb {
    margin-top: 10px;
}

.category-course-content-title {
    font-size: 28px;
    margin: 0 auto;
}

.post-course {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.post-course-item {
    margin-bottom: 40px;
    flex: 0 1 calc(25% - 1.5%);
    /*background: #000099;*/
    /*color: #9c9c9c;
    padding: 15px;*/
}
.post-course-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 14px;
}

.title-course {
    font-size: 20px;
    margin-top: 25px;
}
.course-list {
    display: flex;
    padding: 1rem 0;
    margin: 0 auto;
    overflow-x: auto;
    /*outline: solid 1px;*/
}
.course-item {
    flex: 0 0 200px;
    /*height: 100px;*/
    background: #7bb269;
    color: #222;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 1rem;
}
.practice {
    background: #7bb269;
    color: #222;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 1rem;
}
/* === End page home === */
/* === Start page footer === */
.footer {
    max-width: 100%;
    background: #dddddd;
    padding: 0 10px;

}
.footer-information {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    background: #dddddd;
}
.footer_item {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: disc;
    /* list-style-image: url(../images/pointer.png); */
    list-style-position: inside;
}
.footer_block {
    max-width: 100%;
    background: #515151;
}
.copyright {
    padding: 20px;
    /*margin: 20px auto;*/

}
.copyright p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.footer li a {
    color: #6E7F80;
}
.line p, .footer-category {
    text-transform: uppercase;
}
.line {
    display: inline-block;
    /*margin: 0 auto 10px;*/
    color: #000;
}
.line hr {
    border-color: #C1C1C1;
    margin: 10px 0;
}
.footer_item-link {
    display: inline-block;
    margin-bottom: 10px;
}
.footer_item-link:hover {
    color:#20B2AA
}
@media (max-width: 456px) {
    .footer-information {
        flex-direction: column;
        align-items: center;
    }
}
/* === End page footer === */

/* Start category-course */


.lesson_course {
    margin-top: 80px;
    margin-bottom: 80px;
}
.category-course {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.category-course-content {
    width: 75%
}
.category-course-list {
    width: 25%;
}
.lesson_course hr {
    margin-bottom: 20px;
}
.category-course-item {
    margin-top: 10px;
}
.title-sidebar-right {
    font-size: 20px;
    font-family: Montserrat;
    color: #082838;
}
.category-nav-link {
    font-family: Montserrat;
    color: #828383;
}
/* End category-course */


@media (max-width: 1066px) {
    .top-content-uptitle {
        font-size: calc(12px + (18 - 12) * ((100vw - 426px) / (1146 - 426)));
    }
    .top-content-title {
        font-size: calc(30px + (40 - 30) * ((100vw - 426px) / (1146 - 426)));
    }

    .container .slide-container .slide .content h3 {
        font-size: calc(16px + (30 - 16) * ((100vw - 688px) / (1146 - 688)));
    }

}
@media (max-width: 1148px) {
    header {
        padding: 0 10px;
    }
}
@media (max-width: 981px) {
    .top-content-uptitle {
        margin: 0;
    }
    .top-content-title {
        margin: 0 0 15px 0;
        font-size: calc(24px + (40 - 24) * ((100vw - 426px) / (1146 - 426)));
    }
    .container .slide-container .btn {
        padding: 7px;
    }
    .container .slide-container .slide .content p {
        font-size: 18px;
    }
}
@media (max-width: 880px) {
    .top-info {
        flex-direction: column;
    }
    .top-content {
        /*max-width: 100%;*/
        width: 100%;
        text-align: center;
    }
    .top-content-uptitle {
        font-size: 18px;
    }
    .top-content-title {
        font-size: 40px;
    }
    .top-content-txt {
        font-size: 18px;
    }
    .container {
        margin: 0 auto;
    }
    .container .slide-container .slide .content {
        left: 180px;
    }
    .container .slide-container .slide .content h3 {
        font-size: 30px;
    }
    .container .slide-container .slide .content p {
        font-size: 20px;
    }
    .container .slide-container .btn {
        padding: 10px;
        max-width: 205px;
        left: 44%;
    }
}

@media (max-width: 630px) {
    .container .slide-container .slide .content {
        display: none;
    }
}

@media (max-width: 425px) {
    .top-content-title {
        font-size: 30px;
    }
    .container .slide-container .btn {
        left: 36%;
    }
}

